
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

姓名:王欣雯;
<br />
學號:123456789;
<br />
喜歡的水果:
<br />
    <ul>
        <li>蘋果</li>
        <li>香蕉</li>
        <li>荔枝</li>
        <li>鳳梨</li>
        <li>西瓜</li>
    </ul>

